<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {{#each navLinks}}
            <li class="nav-item {{#ifeq ../section key}}nav-item--active{{/ifeq}}">
              <a href="{{href}}">{{label}}</a>
            </li>
          {{/each}}
          {{#if user}}
            <li><a href="/keystone/signout">Sign Out</a></li>
          {{else}}
            <li><a href="/keystone/signin">Sign In</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <div id="body">
      {{#if messages}}
      <div id="flash-messages" class="container">
        {{#if messages.info}}
        <div class="alert alert-info">
            {{{flashMessages messages.info}}}
        </div>
        {{/if}}
        {{#if messages.success}}
        <div class="alert alert-success">
            {{{flashMessages messages.success}}}
        </div>
        {{/if}}
        {{#if messages.warning}}
        <div class="alert alert-warning">
            {{{flashMessages messages.warning}}}
        </div>
        {{/if}}
        {{#if messages.error}}
        <div class="alert alert-danger">
            {{{flashMessages messages.error}}}
        </div>
        {{/if}}
      </div>
      {{/if}}
      <!-- The content block should contain the body of your template's content-->
      {{{body}}}
    </div>

    <footer>
    </footer>
  </body>
</html>
